html {
	transition: .2s linear;
}
html[data-theme='dark'] {
	background: #202020;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

input {
	width: 120px;
	height: 80px;
	background-blend-mode: #333;
	border-radius: 50px;
	transition: 0.2s linear;
}
