html {
	transition: .2s linear;
}
html[data-theme='dark'] {
	background: #202020;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

input {
	width: 120px;
	height: 40px;
	-moz-appearance: none;
	background: #333;
	border-radius: 50px;
	transition: 0.2s linear;
	position: relative;
}

input:checked {
	background: turquoise;
}

input::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	transform: scale(0.85);
	content: '';
	background: #ffffff;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .2456);
	border-radius: 50%;
	transition: .25s ease-in-out;
}
input:checked::before {
	left: 79px;
}
